<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Publish Game</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
		<div class="container">
			<a class="navbar-brand" href="/">GameSite</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li sec:authorize="isAnonymous()" class="nav-item"><a
						class="nav-link" href="/login">Login</a></li>
					<li sec:authorize="isAuthenticated()" class="nav-item"><a
						class="nav-link" sec:authentication="name" href="/account"></a></li>
					<li sec:authorize="isAuthenticated()" class="nav-item"><a
						onclick="document.forms['logoutForm'].submit()" class="nav-link">Logout</a></li>
					<li sec:authorize="isAnonymous()" class="nav-item"><a
						class="nav-link" href="/registration">Sign Up</a></li>
				</ul>
				<form id="logoutForm" method="POST" th:action="@{/logout}">
					<input type="hidden" name="${_csrf.parameterName}"
						value="${_csrf.token}" />
				</form>
			</div>
		</div>
	</nav>
	<div class="container py-5">
		<h5>Edit game</h5>
		<form th:object="${game}" th:action="@{~/account/edit}" action="#" method="POST">
			
			<div class="form-group-row my-3">
				<label for="name" class="col-form-label">Name</label> <input
					type="text" class="form-control" id="name" th:field="*{name}">
			</div>

			<div class="form-group-row my-3">
				<label for="categorylist" class="col-form-label">Category</label> 
				<select id="categorylist" th:field="*{category}" class="form-control">
					<option th:each="category: ${categories}" th:value="${category.id}"
						th:text="${category.name}"></option>
				</select>
			</div>

			<div class="form-group-row my-3">
				<label for="description" class="col-form-label">Description</label> <textarea
					type="text" class="form-control" id="description" th:field="*{description}"></textarea>
			</div>
			
			<div class="form-group-row my-3">
				<label for="game_url" class="col-form-label">Game URL</label> <input
					type="text" class="form-control" id="game_url" th:field="*{game_url}">
			</div>
			
			<div class="form-group-row my-3">
				<label for="image_url" class="col-form-label">Image URL</label> <input
					type="text" class="form-control" id="image_url" th:field="*{image_url}">
			</div>
			
			<input type="hidden" id="gameId" th:field="*{gameId}">
			<input type="hidden" id="publisher" th:field="*{publisher}">
<!-- 			<input type="hidden" id="pub_date" th:field="*{pub_date}">
 -->			
			<a href="/account" class="btn btn-secondary">Cancel</a>
			<input type="submit" value="Save" class="btn btn-success"></input>
		</form>
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>
</html>